:root {
    --p3x-onenote-navbar-bg: #7719aa;
    --p3x-onenote-navbar-color: white;
    --p3x-onenote-bottom-bar-height: 20px;
    --p3x-onenote-bottom-bar-font-size: 12px;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*
md-dialog md-dialog-actions {
    display: block !important;
}

md-dialog md-dialog-actions button {
    float: right !important;
}
 */

body * {
    transition: none !important;
}

#p3x-onenote-bottom-bar {
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: var(--p3x-onenote-bottom-bar-height);
    font-size: var(--p3x-onenote-bottom-bar-font-size);
    font-family: Roboto;
    line-height: var(--p3x-onenote-bottom-bar-height);
    background-color: var(--p3x-onenote-navbar-bg);
    color: var(--p3x-onenote-navbar-color);
}

#p3x-onenote-webview {
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    width: 100%;
    height: calc(100% - var(--p3x-onenote-bottom-bar-height));
}

.md-toast-content {
    z-index: 110;
}

.p3x-onenote-toast-default .md-toast-content {
}
